<div class="armor-card item" data-item-id="{{_id}}">
  <div class="armor-info armor-name os-eq-row">
    <a class="item-edit os-eq-thumb" data-type="item" title="{{name}}">
      <img class="os-eq-item-img" src="{{img}}" alt="{{name}}" draggable="true" />
    </a>

    <div class="os-eq-text">
      <div class="os-eq-title-row">
        <a class="item-edit os-eq-title" data-type="item">{{name}}</a>
      </div>

      <div class="armor-stats">
        <div class="os-eq-details">
          <ul class="os-eq-list">
            <li><strong>Защита:</strong> {{#if system.Deffensepotential}}{{system.Deffensepotential}}{{else}}{{system.Defense}}{{/if}}</li>
            <li><strong>Прочность:</strong> {{system.Durability}}</li>
            <li class="os-eq-inline-check">
              <strong>Надето:</strong>
              <input type="checkbox" class="is-equiped-checkbox" {{#if system.isEquiped}}checked{{/if}} />
            </li>
          </ul>
        </div>
      </div>
    </div>

    <a class="item-delete" title="Удалить">
      <i class="fas fa-trash"></i>
    </a>
  </div>
</div>
