<div class="armor-card item" data-item-id="{{_id}}">
  <div class="armor-info armor-name">
    <p>
      <a class="item-edit" data-type="item">{{name}}</a>
    </p>
    <div class="armor-stats">
    <p><strong>Deffensepotential:</strong> {{data.Deffensepotential}}</p>
    <p><strong>Advantage:</strong> {{data.Advantage}}</p>
    <p><strong>Disadvantages:</strong> {{data.Disadvantages}}</p>
    <p><strong>Reqires:</strong> {{data.Reqires}}</p>
    <p><strong>Modificationslots:</strong> {{data.Modificationslots}}</p>

    </div>
    <a class="item-delete">
      <i class="fas fa-trash">
      </i>
    </a>
  </div>
</div>