<div class="armor-card item" data-item-id="{{_id}}">
  <div class="armor-info armor-name">
    <p>
      <a class="item-edit" data-type="item">{{name}}</a>
    </p>
    <div class="form-group">
      <label for="isEquiped">{{localize "Order.Armor.Equiped"}}</label>
      <input type="checkbox" name="data.isEquiped" {{#if data.isEquiped}}checked{{/if}} class="is-equiped-checkbox"/>
    </div>
    <div class="armor-stats">
    <p><strong>Deffensepotential:</strong> {{data.Deffensepotential}}</p>
    <p><strong>Parameters:</strong> {{data.Parameters}}</p>
    <p><strong>Requires:</strong> {{data.Requires}}</p>
    <p><strong>Modificationslots:</strong> {{data.Modificationslots}}</p>

    </div>
    <a class="item-delete">
      <i class="fas fa-trash">
      </i>
    </a>
  </div>
</div>