<section>
    <div class="stat-value">
        <canvas class="circle-progress" data-attribute="Strength"></canvas>
        Сила
        <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Strength" title="Бросок кубика"></i>
        <input name="data.Strength.value" type="text" value="{{data.Strength.value}}" data-dtype="Number" />    
        <input name="data.Strength.modifiers" type="text" value="{{data.Strength.modifiers}}" data-dtype="Number" />
    </div>
    <div class="stat-value">
        <canvas class="circle-progress" data-attribute="Dexterity"></canvas>
        Ловкость
        <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Dexterity" title="Бросок кубика"></i>
        <input name="data.Dexterity.value" type="text" value="{{data.Dexterity.value}}" data-dtype="Number" />
        <p>{{data.Dexterity.modifiers}}</p>
    </div>
    <div class="stat-value">
        <canvas class="circle-progress" data-attribute="Stamina"></canvas>
        Выносливость
        <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Stamina" title="Бросок кубика"></i>
        <input name="data.Stamina.value" type="text" value="{{data.Stamina.value}}" data-dtype="Number" />
        <p>{{data.Stamina.modifiers}}</p>
    </div>
    <div class="stat-value">
        <canvas class="circle-progress" data-attribute="Accuracy"></canvas>
        Меткость
        <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Accuracy" title="Бросок кубика"></i>
        <input name="data.Accuracy.value" type="text" value="{{data.Accuracy.value}}" data-dtype="Number" />
        <p>{{data.Accuracy.modifiers}}</p>
    </div>
    <div class="stat-value">
        <canvas class="circle-progress" data-attribute="Will"></canvas>
        Сила духа
        <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Will" title="Бросок кубика"></i>
        <input name="data.Will.value" type="text" value="{{data.Will.value}}" data-dtype="Number" />
        <p>{{data.Will.modifiers}}</p>
    </div>
    <div class="stat-value">
        <canvas class="circle-progress" data-attribute="Knowledge"></canvas>
        Знания
        <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Knowledge" title="Бросок кубика"></i>
        <input name="data.Knowledge.value" type="text" value="{{data.Knowledge.value}}" data-dtype="Number" />
        <p>{{data.Knowledge.modifiers}}</p>
    </div>
    <div class="stat-value">
        <canvas class="circle-progress" data-attribute="Charisma"></canvas>
        Харизма
        <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Charisma" title="Бросок кубика"></i>
        <input name="data.Charisma.value" type="text" value="{{data.Charisma.value}}" data-dtype="Number" />
        <p>{{data.Charisma.modifiers}}</p>
    </div>
    <div class="stat-value">
        <canvas class="circle-progress" data-attribute="Seduction"></canvas>
        Обольщение
        <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Seduction" title="Бросок кубика"></i>
        <input name="data.Seduction.value" type="text" value="{{data.Seduction.value}}" data-dtype="Number" />
        <p>{{data.Seduction.modifiers}}</p>
    </div>
    <div class="stat-value">
        <canvas class="circle-progress" data-attribute="Leadership"></canvas>
        Лидерство
        <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Leadership" title="Бросок кубика"></i>
        <input name="data.Leadership.value" type="text" value="{{data.Leadership.value}}" data-dtype="Number" />
        <p>{{data.Leadership.modifiers}}</p>
    </div>
    <div class="stat-value">
        <canvas class="circle-progress" data-attribute="Faith"></canvas>
        Вера
        <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Faith" title="Бросок кубика"></i>
        <input name="data.Faith.value" type="text" value="{{data.Faith.value}}" data-dtype="Number" />
        <p>{{data.Faith.modifiers}}</p>
    </div>
    <div class="stat-value">
        <canvas class="circle-progress" data-attribute="Medicine"></canvas>
        Медицина
        <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Medicine" title="Бросок кубика"></i>
        <input name="data.Medicine.value" type="text" value="{{data.Medicine.value}}" data-dtype="Number" />
        <p>{{data.Medicine.modifiers}}</p>
    </div>
    <div class="stat-value">
        <canvas class="circle-progress" data-attribute="Magic"></canvas>
        Магия
        <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Magic" title="Бросок кубика"></i>
        <input name="data.Magic.value" type="text" value="{{data.Magic.value}}" data-dtype="Number" />
        <p>{{data.Magic.modifiers}}</p>
    </div>
    <div class="stat-value">
        <canvas class="circle-progress" data-attribute="Stealth"></canvas>
        Скрытность
        <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Stealth" title="Бросок кубика"></i>
        <input name="data.Stealth.value" type="text" value="{{data.Stealth.value}}" data-dtype="Number" />
        <p>{{data.Stealth.modifiers}}</p>
    </div>
</section>
