<section>
    <div class="stat-value">
        Сила
        <input name="data.Strength.value" type="text" value="{{data.Strength.value}}" data-dtype="Number" />
    </div>
    <div class="stat-value">
        Ловкость
        <input name="data.Dexterity.value" type="text" value="{{data.Dexterity.value}}" data-dtype="Number" />
    </div>
    <div class="stat-value">
        Выносливость
        <input name="data.Stamina.value" type="text" value="{{data.Stamina.value}}" data-dtype="Number" />
    </div>
    <div class="stat-value">
        Меткость
        <input name="data.Accuracy.value" type="text" value="{{data.Accuracy.value}}" data-dtype="Number" />
    </div>
    <div class="stat-value">
        Сила духа
        <input name="data.Will.value" type="text" value="{{data.Will.value}}" data-dtype="Number" />
    </div>
    <div class="stat-value">
        Знания
        <input name="data.Knowledge.value" type="text" value="{{data.Knowledge.value}}" data-dtype="Number" />
    </div>
    <div class="stat-value">
        Харизма
        <input name="data.Charisma.value" type="text" value="{{data.Charisma.value}}" data-dtype="Number" />
    </div>
    <div class="stat-value">
        Обольщение
        <input name="data.Seduction.value" type="text" value="{{data.Seduction.value}}" data-dtype="Number" />
    </div>
    <div class="stat-value">
        Лидерство
        <input name="data.Leadership.value" type="text" value="{{data.Leadership.value}}" data-dtype="Number" />
    </div>
    <div class="stat-value">
        Вера
        <input name="data.Faith.value" type="text" value="{{data.Faith.value}}" data-dtype="Number" />
    </div>
    <div class="stat-value">
        Медицина
        <input name="data.Medicine.value" type="text" value="{{data.Medicine.value}}" data-dtype="Number" />
    </div>
    <div class="stat-value">
        Магия
        <input name="data.Magic.value" type="text" value="{{data.Magic.value}}" data-dtype="Number" />
    </div>
    <div class="stat-value">
        Скрытность
        <input name="data.Stealth.value" type="text" value="{{data.Stealth.value}}" data-dtype="Number" />
    </div>
</section>