<section>
  <div class="stat-value">
    <canvas class="circle-progress" data-attribute="Strength"></canvas>
    <span class="train-characteristic" data-attribute="Strength" title="Тренировка (клик)">Сила</span>
    
    <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Strength" title="Бросок кубика"></i>
    <input name="data.Strength.value" type="text" value="{{data.Strength.value}}" data-dtype="Number"  {{#unless @root.osCanEdit}}readonly{{/unless}} />
    <!-- Основной блок, показывающий сумму всех модификаторов -->
    <div class="modifiers-wrapper">
      <span class="modifiers-total">{{sumModifiers data.Strength.modifiers}}</span>

      <!-- Скрытый блок с подробным списком источников ( tooltip ) -->
      <div class="modifiers-tooltip">
        {{!-- Если массив пуст, выведем "Нет модификаторов" --}}
        {{#if (gt (length data.Strength.modifiers) 0)}}
        <ul>
          {{#each data.Strength.modifiers}}
          <li>
            <strong>{{this.effectName}}</strong>: {{this.value}}
          </li>
          {{/each}}
        </ul>
        {{else}}
        <p>Нет модификаторов</p>
        {{/if}}
      </div>
    </div>
      {{#if (gt (length data.Strength.weaponPenalties) 0)}}
          <div class="weapon-penalty-wrapper">
              <span class="weapon-penalty-star">*</span>
              <div class="weapon-penalty-tooltip">
                  <ul>
                      {{#each data.Strength.weaponPenalties}}
                          <li><strong>{{this.effectName}}</strong>: {{this.value}}</li>
                      {{/each}}
                  </ul>
              </div>
          </div>
      {{/if}}
  </div>
  <div class="stat-value">
    <canvas class="circle-progress" data-attribute="Dexterity"></canvas>
    <span class="train-characteristic" data-attribute="Dexterity" title="Тренировка (клик)">Ловкость</span>
    
    <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Dexterity" title="Бросок кубика"></i>
    <input name="data.Dexterity.value" type="text" value="{{data.Dexterity.value}}" data-dtype="Number"  {{#unless @root.osCanEdit}}readonly{{/unless}} />
    <div class="modifiers-wrapper">
      <span class="modifiers-total">{{sumModifiers data.Dexterity.modifiers}}</span>

      <!-- Скрытый блок с подробным списком источников ( tooltip ) -->
      <div class="modifiers-tooltip">
        {{!-- Если массив пуст, выведем "Нет модификаторов" --}}
        {{#if (gt (length data.Dexterity.modifiers) 0)}}
        <ul>
          {{#each data.Dexterity.modifiers}}
          <li>
            <strong>{{this.effectName}}</strong>: {{this.value}}
          </li>
          {{/each}}
        </ul>
        {{else}}
        <p>Нет модификаторов</p>
        {{/if}}
      </div>
    </div>
      {{#if (gt (length data.Dexterity.weaponPenalties) 0)}}
          <div class="weapon-penalty-wrapper">
              <span class="weapon-penalty-star">*</span>
              <div class="weapon-penalty-tooltip">
                  <ul>
                      {{#each data.Dexterity.weaponPenalties}}
                          <li><strong>{{this.effectName}}</strong>: {{this.value}}</li>
                      {{/each}}
                  </ul>
              </div>
          </div>
      {{/if}}
  </div>
  <div class="stat-value">
    <canvas class="circle-progress" data-attribute="Stamina"></canvas>
    <span class="train-characteristic" data-attribute="Stamina" title="Тренировка (клик)">Выносливость</span>
    
    <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Stamina" title="Бросок кубика"></i>
    <input name="data.Stamina.value" type="text" value="{{data.Stamina.value}}" data-dtype="Number"  {{#unless @root.osCanEdit}}readonly{{/unless}} />
    <div class="modifiers-wrapper">
      <span class="modifiers-total">{{sumModifiers data.Stamina.modifiers}}</span>

      <!-- Скрытый блок с подробным списком источников ( tooltip ) -->
      <div class="modifiers-tooltip">
        {{!-- Если массив пуст, выведем "Нет модификаторов" --}}
        {{#if (gt (length data.Stamina.modifiers) 0)}}
        <ul>
          {{#each data.Stamina.modifiers}}
          <li>
            <strong>{{this.effectName}}</strong>: {{this.value}}
          </li>
          {{/each}}
        </ul>
        {{else}}
        <p>Нет модификаторов</p>
        {{/if}}
      </div>
    </div>
      {{#if (gt (length data.Stamina.weaponPenalties) 0)}}
          <div class="weapon-penalty-wrapper">
              <span class="weapon-penalty-star">*</span>
              <div class="weapon-penalty-tooltip">
                  <ul>
                      {{#each data.Stamina.weaponPenalties}}
                          <li><strong>{{this.effectName}}</strong>: {{this.value}}</li>
                      {{/each}}
                  </ul>
              </div>
          </div>
      {{/if}}
  </div>
  <div class="stat-value">
    <canvas class="circle-progress" data-attribute="Accuracy"></canvas>
    <span class="train-characteristic" data-attribute="Accuracy" title="Тренировка (клик)">Меткость</span>
    
    <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Accuracy" title="Бросок кубика"></i>
    <input name="data.Accuracy.value" type="text" value="{{data.Accuracy.value}}" data-dtype="Number"  {{#unless @root.osCanEdit}}readonly{{/unless}} />
    <div class="modifiers-wrapper">
      <span class="modifiers-total">{{sumModifiers data.Accuracy.modifiers}}</span>

      <!-- Скрытый блок с подробным списком источников ( tooltip ) -->
      <div class="modifiers-tooltip">
        {{!-- Если массив пуст, выведем "Нет модификаторов" --}}
        {{#if (gt (length data.Accuracy.modifiers) 0)}}
        <ul>
          {{#each data.Accuracy.modifiers}}
          <li>
            <strong>{{this.effectName}}</strong>: {{this.value}}
          </li>
          {{/each}}
        </ul>
        {{else}}
        <p>Нет модификаторов</p>
        {{/if}}
      </div>
    </div>
      {{#if (gt (length data.Accuracy.weaponPenalties) 0)}}
          <div class="weapon-penalty-wrapper">
              <span class="weapon-penalty-star">*</span>
              <div class="weapon-penalty-tooltip">
                  <ul>
                      {{#each data.Accuracy.weaponPenalties}}
                          <li><strong>{{this.effectName}}</strong>: {{this.value}}</li>
                      {{/each}}
                  </ul>
              </div>
          </div>
      {{/if}}
  </div>
  <div class="stat-value">
    <canvas class="circle-progress" data-attribute="Will"></canvas>
    <span class="train-characteristic" data-attribute="Will" title="Тренировка (клик)">Сила духа</span>
    
    <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Will" title="Бросок кубика"></i>
    <input name="data.Will.value" type="text" value="{{data.Will.value}}" data-dtype="Number"  {{#unless @root.osCanEdit}}readonly{{/unless}} />
    <div class="modifiers-wrapper">
      <span class="modifiers-total">{{sumModifiers data.Will.modifiers}}</span>

      <!-- Скрытый блок с подробным списком источников ( tooltip ) -->
      <div class="modifiers-tooltip">
        {{!-- Если массив пуст, выведем "Нет модификаторов" --}}
        {{#if (gt (length data.Will.modifiers) 0)}}
        <ul>
          {{#each data.Will.modifiers}}
          <li>
            <strong>{{this.effectName}}</strong>: {{this.value}}
          </li>
          {{/each}}
        </ul>
        {{else}}
        <p>Нет модификаторов</p>
        {{/if}}
      </div>
    </div>
      {{#if (gt (length data.Will.weaponPenalties) 0)}}
          <div class="weapon-penalty-wrapper">
              <span class="weapon-penalty-star">*</span>
              <div class="weapon-penalty-tooltip">
                  <ul>
                      {{#each data.Will.weaponPenalties}}
                          <li><strong>{{this.effectName}}</strong>: {{this.value}}</li>
                      {{/each}}
                  </ul>
              </div>
          </div>
      {{/if}}
  </div>
  <div class="stat-value">
    <canvas class="circle-progress" data-attribute="Knowledge"></canvas>
    <span class="train-characteristic" data-attribute="Knowledge" title="Тренировка (клик)">Знания</span>
    
    <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Knowledge" title="Бросок кубика"></i>
    <input name="data.Knowledge.value" type="text" value="{{data.Knowledge.value}}" data-dtype="Number"  {{#unless @root.osCanEdit}}readonly{{/unless}} />
    <div class="modifiers-wrapper">
      <span class="modifiers-total">{{sumModifiers data.Knowledge.modifiers}}</span>

      <!-- Скрытый блок с подробным списком источников ( tooltip ) -->
      <div class="modifiers-tooltip">
        {{!-- Если массив пуст, выведем "Нет модификаторов" --}}
        {{#if (gt (length data.Knowledge.modifiers) 0)}}
        <ul>
          {{#each data.Knowledge.modifiers}}
          <li>
            <strong>{{this.effectName}}</strong>: {{this.value}}
          </li>
          {{/each}}
        </ul>
        {{else}}
        <p>Нет модификаторов</p>
        {{/if}}
      </div>
    </div>
      {{#if (gt (length data.Knowledge.weaponPenalties) 0)}}
          <div class="weapon-penalty-wrapper">
              <span class="weapon-penalty-star">*</span>
              <div class="weapon-penalty-tooltip">
                  <ul>
                      {{#each data.Knowledge.weaponPenalties}}
                          <li><strong>{{this.effectName}}</strong>: {{this.value}}</li>
                      {{/each}}
                  </ul>
              </div>
          </div>
      {{/if}}
  </div>
  <div class="stat-value">
    <canvas class="circle-progress" data-attribute="Charisma"></canvas>
    <span class="train-characteristic" data-attribute="Charisma" title="Тренировка (клик)">Харизма</span>
    
    <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Charisma" title="Бросок кубика"></i>
    <input name="data.Charisma.value" type="text" value="{{data.Charisma.value}}" data-dtype="Number"  {{#unless @root.osCanEdit}}readonly{{/unless}} />
    <div class="modifiers-wrapper">
      <span class="modifiers-total">{{sumModifiers data.Charisma.modifiers}}</span>

      <!-- Скрытый блок с подробным списком источников ( tooltip ) -->
      <div class="modifiers-tooltip">
        {{!-- Если массив пуст, выведем "Нет модификаторов" --}}
        {{#if (gt (length data.Charisma.modifiers) 0)}}
        <ul>
          {{#each data.Charisma.modifiers}}
          <li>
            <strong>{{this.effectName}}</strong>: {{this.value}}
          </li>
          {{/each}}
        </ul>
        {{else}}
        <p>Нет модификаторов</p>
        {{/if}}
      </div>
    </div>
      {{#if (gt (length data.Charisma.weaponPenalties) 0)}}
          <div class="weapon-penalty-wrapper">
              <span class="weapon-penalty-star">*</span>
              <div class="weapon-penalty-tooltip">
                  <ul>
                      {{#each data.Charisma.weaponPenalties}}
                          <li><strong>{{this.effectName}}</strong>: {{this.value}}</li>
                      {{/each}}
                  </ul>
              </div>
          </div>
      {{/if}}
  </div>
  <div class="stat-value">
    <canvas class="circle-progress" data-attribute="Seduction"></canvas>
    <span class="train-characteristic" data-attribute="Seduction" title="Тренировка (клик)">Обольщение</span>
    
    <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Seduction" title="Бросок кубика"></i>
    <input name="data.Seduction.value" type="text" value="{{data.Seduction.value}}" data-dtype="Number"  {{#unless @root.osCanEdit}}readonly{{/unless}} />
    <div class="modifiers-wrapper">
      <span class="modifiers-total">{{sumModifiers data.Seduction.modifiers}}</span>

      <!-- Скрытый блок с подробным списком источников ( tooltip ) -->
      <div class="modifiers-tooltip">
        {{!-- Если массив пуст, выведем "Нет модификаторов" --}}
        {{#if (gt (length data.Seduction.modifiers) 0)}}
        <ul>
          {{#each data.Seduction.modifiers}}
          <li>
            <strong>{{this.effectName}}</strong>: {{this.value}}
          </li>
          {{/each}}
        </ul>
        {{else}}
        <p>Нет модификаторов</p>
        {{/if}}
      </div>
    </div>
      {{#if (gt (length data.Seduction.weaponPenalties) 0)}}
          <div class="weapon-penalty-wrapper">
              <span class="weapon-penalty-star">*</span>
              <div class="weapon-penalty-tooltip">
                  <ul>
                      {{#each data.Seduction.weaponPenalties}}
                          <li><strong>{{this.effectName}}</strong>: {{this.value}}</li>
                      {{/each}}
                  </ul>
              </div>
          </div>
      {{/if}}
  </div>
  <div class="stat-value">
    <canvas class="circle-progress" data-attribute="Leadership"></canvas>
    <span class="train-characteristic" data-attribute="Leadership" title="Тренировка (клик)">Лидерство</span>
    
    <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Leadership" title="Бросок кубика"></i>
    <input name="data.Leadership.value" type="text" value="{{data.Leadership.value}}" data-dtype="Number"  {{#unless @root.osCanEdit}}readonly{{/unless}} />
    <div class="modifiers-wrapper">
      <span class="modifiers-total">{{sumModifiers data.Leadership.modifiers}}</span>

      <!-- Скрытый блок с подробным списком источников ( tooltip ) -->
      <div class="modifiers-tooltip">
        {{!-- Если массив пуст, выведем "Нет модификаторов" --}}
        {{#if (gt (length data.Leadership.modifiers) 0)}}
        <ul>
          {{#each data.Leadership.modifiers}}
          <li>
            <strong>{{this.effectName}}</strong>: {{this.value}}
          </li>
          {{/each}}
        </ul>
        {{else}}
        <p>Нет модификаторов</p>
        {{/if}}
      </div>
    </div>
  </div>
    {{#if (gt (length data.Leadership.weaponPenalties) 0)}}
        <div class="weapon-penalty-wrapper">
            <span class="weapon-penalty-star">*</span>
            <div class="weapon-penalty-tooltip">
                <ul>
                    {{#each data.Leadership.weaponPenalties}}
                        <li><strong>{{this.effectName}}</strong>: {{this.value}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/if}}
  <div class="stat-value">
    <canvas class="circle-progress" data-attribute="Faith"></canvas>
    <span class="train-characteristic" data-attribute="Faith" title="Тренировка (клик)">Вера</span>
    
    <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Faith" title="Бросок кубика"></i>
    <input name="data.Faith.value" type="text" value="{{data.Faith.value}}" data-dtype="Number"  {{#unless @root.osCanEdit}}readonly{{/unless}} />
    <div class="modifiers-wrapper">
      <span class="modifiers-total">{{sumModifiers data.Faith.modifiers}}</span>

      <!-- Скрытый блок с подробным списком источников ( tooltip ) -->
      <div class="modifiers-tooltip">
        {{!-- Если массив пуст, выведем "Нет модификаторов" --}}
        {{#if (gt (length data.Faith.modifiers) 0)}}
        <ul>
          {{#each data.Faith.modifiers}}
          <li>
            <strong>{{this.effectName}}</strong>: {{this.value}}
          </li>
          {{/each}}
        </ul>
        {{else}}
        <p>Нет модификаторов</p>
        {{/if}}
      </div>
    </div>
  </div>
    {{#if (gt (length data.Faith.weaponPenalties) 0)}}
        <div class="weapon-penalty-wrapper">
            <span class="weapon-penalty-star">*</span>
            <div class="weapon-penalty-tooltip">
                <ul>
                    {{#each data.Faith.weaponPenalties}}
                        <li><strong>{{this.effectName}}</strong>: {{this.value}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/if}}
  <div class="stat-value">
    <canvas class="circle-progress" data-attribute="Medicine"></canvas>
    <span class="train-characteristic" data-attribute="Medicine" title="Тренировка (клик)">Медицина</span>
    
    <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Medicine" title="Бросок кубика"></i>
    <input name="data.Medicine.value" type="text" value="{{data.Medicine.value}}" data-dtype="Number"  {{#unless @root.osCanEdit}}readonly{{/unless}} />
    <div class="modifiers-wrapper">
      <span class="modifiers-total">{{sumModifiers data.Medicine.modifiers}}</span>

      <!-- Скрытый блок с подробным списком источников ( tooltip ) -->
      <div class="modifiers-tooltip">
        {{!-- Если массив пуст, выведем "Нет модификаторов" --}}
        {{#if (gt (length data.Medicine.modifiers) 0)}}
        <ul>
          {{#each data.Medicine.modifiers}}
          <li>
            <strong>{{this.effectName}}</strong>: {{this.value}}
          </li>
          {{/each}}
        </ul>
        {{else}}
        <p>Нет модификаторов</p>
        {{/if}}
      </div>
    </div>
      {{#if (gt (length data.Medicine.weaponPenalties) 0)}}
          <div class="weapon-penalty-wrapper">
              <span class="weapon-penalty-star">*</span>
              <div class="weapon-penalty-tooltip">
                  <ul>
                      {{#each data.Medicine.weaponPenalties}}
                          <li><strong>{{this.effectName}}</strong>: {{this.value}}</li>
                      {{/each}}
                  </ul>
              </div>
          </div>
      {{/if}}
  </div>
  <div class="stat-value">
    <canvas class="circle-progress" data-attribute="Magic"></canvas>
    <span class="train-characteristic" data-attribute="Magic" title="Тренировка (клик)">Магия</span>
    
    <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Magic" title="Бросок кубика"></i>
    <input name="data.Magic.value" type="text" value="{{data.Magic.value}}" data-dtype="Number"  {{#unless @root.osCanEdit}}readonly{{/unless}} />
    <div class="modifiers-wrapper">
      <span class="modifiers-total">{{sumModifiers data.Magic.modifiers}}</span>

      <!-- Скрытый блок с подробным списком источников ( tooltip ) -->
      <div class="modifiers-tooltip">
        {{!-- Если массив пуст, выведем "Нет модификаторов" --}}
        {{#if (gt (length data.Magic.modifiers) 0)}}
        <ul>
          {{#each data.Magic.modifiers}}
          <li>
            <strong>{{this.effectName}}</strong>: {{this.value}}
          </li>
          {{/each}}
        </ul>
        {{else}}
        <p>Нет модификаторов</p>
        {{/if}}
      </div>
    </div>
      {{#if (gt (length data.Magic.weaponPenalties) 0)}}
          <div class="weapon-penalty-wrapper">
              <span class="weapon-penalty-star">*</span>
              <div class="weapon-penalty-tooltip">
                  <ul>
                      {{#each data.Magic.weaponPenalties}}
                          <li><strong>{{this.effectName}}</strong>: {{this.value}}</li>
                      {{/each}}
                  </ul>
              </div>
          </div>
      {{/if}}
  </div>
  <div class="stat-value">
    <canvas class="circle-progress" data-attribute="Stealth"></canvas>
    <span class="train-characteristic" data-attribute="Stealth" title="Тренировка (клик)">Скрытность</span>
    
    <i class="fas fa-dice-d20 roll-characteristic" data-attribute="Stealth" title="Бросок кубика"></i>
    <input name="data.Stealth.value" type="text" value="{{data.Stealth.value}}" data-dtype="Number"  {{#unless @root.osCanEdit}}readonly{{/unless}} />
    <div class="modifiers-wrapper">
      <span class="modifiers-total">{{sumModifiers data.Stealth.modifiers}}</span>

      <!-- Скрытый блок с подробным списком источников ( tooltip ) -->
      <div class="modifiers-tooltip">
        {{!-- Если массив пуст, выведем "Нет модификаторов" --}}
        {{#if (gt (length data.Stealth.modifiers) 0)}}
        <ul>
          {{#each data.Stealth.modifiers}}
          <li>
            <strong>{{this.effectName}}</strong>: {{this.value}}
          </li>
          {{/each}}
        </ul>
        {{else}}
        <p>Нет модификаторов</p>
        {{/if}}
      </div>
    </div>
      {{#if (gt (length data.Stealth.weaponPenalties) 0)}}
          <div class="weapon-penalty-wrapper">
              <span class="weapon-penalty-star">*</span>
              <div class="weapon-penalty-tooltip">
                  <ul>
                      {{#each data.Stealth.weaponPenalties}}
                          <li><strong>{{this.effectName}}</strong>: {{this.value}}</li>
                      {{/each}}
                  </ul>
              </div>
          </div>
      {{/if}}
  </div>
</section>