<div class="consumables-card item" data-item-id="{{_id}}">
  <div class="consumables-info consumables-name">
    <p>
      <a class="item-edit" data-type="item">{{name}}</a>
    </p>
    <div class="consumables-stats">
    <p><strong>Описание:</strong> {{data.Description}}</p>
    <p><strong>Урон:</strong> {{data.Damage}}</p>
    <p><strong>Дальность:</strong> {{data.Range}}</p>
    <p><strong>Порог эффекта:</strong> {{data.EffectThreshold}}</p>
    <p><strong>Тип расходника:</strong> {{data.TypeOfConsumables}}</p>
    </div>
    <a class="item-delete">
      <i class="fas fa-trash">
      </i>
    </a>
  </div>
</div>