{{#let "maxSlots" (add @root.data.inventorySlots @root.data.quickAccessSlots)}}
<div class="inventory-capacity">
  <div class="inventory-gacs">
    <label>ГАЦы:</label>
    <input name="data.gacs" type="text" value="{{@root.data.gacs}}" data-dtype="Number" />
  </div>
  <p>Грузоподъёмность: {{@root.data.inventoryCount}} / {{@root.data.carryingCapacity}}</p>
  <p>Вместимость: {{@root.data.inventoryCount}} / {{maxSlots}}</p>
  {{#if (gt @root.data.inventoryCount maxSlots)}}
    <p class="inventory-warning">Инвентарь переполнен!</p>
  {{/if}}
</div>
{{/let}}

<h3>Используется</h3>
<div class="inventory-grid used-grid">
  {{#each usedGrid as |slot i|}}
    {{> "systems/Order/templates/partials/inventory-slot.hbs" item=slot.item slotType=slot.slotType used=true empty=slot.empty}}
  {{/each}}
</div>

<h3>Ячейки</h3>
<div class="inventory-grid">
  {{#each inventoryGrid as |slot i|}}
    {{> "systems/Order/templates/partials/inventory-slot.hbs" item=slot.item slotType=slot.slotType empty=slot.empty}}
  {{/each}}
</div>

<h3>Хранилище</h3>
<div class="inventory-grid storage-grid">
  {{#each storageGrid as |slot i|}}
    {{> "systems/Order/templates/partials/inventory-slot.hbs" item=slot.item slotType=slot.slotType empty=slot.empty}}
  {{/each}}
</div>