{{> weapon name=name Damage=Damage Durability=Durability}}
<div class="rangeweapon-stats">
  <p><strong>Rate of fire:</strong> {{Rate of fire}}</p>
  <p><strong>Magazine:</strong> {{Magazine}}</p>
  <p><strong>Effective firing range:</strong> {{Effective firing range}}</p>
  <p><strong>Maximum firing range:</strong> {{Maximum firing range}}</p>
  <p><strong>Modification slots:</strong> {{Modification slots}}</p>
</div>