<div class="skill-card" data-item-id="{{_id}}">
  <div class="skill-info">
    <p>
      <label>Name:</label>
      <input type="text" name="system.name" class="line-edit"  data-field="system.name" value="{{system.name}}" data-dtype="String" />
    </p>
    <p>
      <label>Damage:</label>
      <input type="number" name="system.Damage" class="line-edit" data-field="system.Damage" value="{{system.Damage}}" data-dtype="Number" />
    </p>
    <p>
      <label>Range:</label>
      <input type="number" name="system.Range" class="line-edit" data-field="system.Range" value="{{system.Range}}" data-dtype="Number" />
    </p>
    <p>
      <label>Effect Threshold:</label>
      <input type="number" name="system.EffectThreshold" class="line-edit" data-field="system.EffectThreshold" value="{{system.EffectThreshold}}" data-dtype="Number" />
    </p>
    <p>
      <label>Level:</label>
      <input type="number" name="system.Level" class="line-edit" data-field="system.Level" value="{{system.Level}}" data-dtype="Number" />
    </p>
    <p>
      <label>Type of Ability:</label>
      <input type="text" name="system.TypeOFAbility" class="line-edit" data-field="system.TypeOFAbility" value="{{system.TypeOFAbility}}" data-dtype="String" />
    </p>
    <p>
      <label>Circle:</label>
      <input type="number" name="system.Circle" class="line-edit" data-field="system.Circle" value="{{system.Circle}}" data-dtype="Number" />
    </p>
    <p>
      <label>Cooldown:</label>
      <input type="number" name="system.Cooldown" class="line-edit" data-field="Cooldown" value="{{system.Cooldown}}" data-dtype="Number" />
    </p>
    <p>
      <label>Description:</label>
      <textarea name="system.description" class="line-edit" data-field="system.description" data-dtype="String">{{system.description}}</textarea>
    </p>
    <a class="item-delete-class">
      <i class="fas fa-trash"></i>
    </a>
  </div>
</div>
