<div class="skill-card item" data-item-id="{{_id}}">
  <img class="skill-icon" src="{{img}}" alt="{{name}}">
  <div class="roll-dice" title="Бросить кубик">
    <i class="fas fa-dice-d20"></i>
  </div>
  <div class="skill-tooltip">
    <p>{{name}}</p>
    {{#if system.displayFields.Circle}}<p><strong>Круг:</strong> {{system.Circle}}</p>{{/if}}
    {{#if system.displayFields.Level}}<p><strong>Уровень:</strong> {{system.Level}}</p>{{/if}}
    {{#if system.displayFields.Description}}<p><strong>Description:</strong> {{system.Description}}</p>{{/if}}
    {{#if system.displayFields.AttackArea}}<p><strong>Дальность:</strong> {{system.AttackArea}}</p>{{/if}}
    {{#if system.displayFields.EffectConditions}}<p><strong>Условия эффекта:</strong> {{system.EffectConditions}}</p>{{/if}}
    {{#if system.displayFields.Effects}}<p><strong>Эффекты:</strong> {{{formatEffects system.Effects}}}</p>{{/if}}
    {{#if system.displayFields.Damage}}<p><strong>Урон:</strong> {{system.Damage}}</p>{{/if}}
    {{#if system.displayFields.Multiplier}}<p><strong>Множитель:</strong> {{system.Multiplier}}</p>{{/if}}
    {{#if system.displayFields.UsageCost}}<p><strong>Стоимость применения:</strong> {{system.UsageCost}}</p>{{/if}}
    {{#if system.displayFields.Cooldown}}<p><strong>Время перезарядки:</strong> {{system.Cooldown}}</p>{{/if}}
    {{#each system.additionalFields}}
    {{#if this.show}}
    {{#unless this.hidden}}
    <p><strong>{{this.name}}:</strong> {{this.value}}</p>
    {{/unless}}
    {{/if}}
    {{/each}}
  </div>
  <button class="delete-skill" title="Удалить скилл" type="button">
    <i class="fas fa-times"></i>
  </button>
</div>