<div class="spell-card item" data-item-id="{{_id}}">
  <img class="spell-icon" src="{{img}}" alt="{{name}}">
  <div class="roll-dice" title="Бросить кубик">
    <i class="fas fa-dice-d20"></i>
  </div>
  <div class="spell-tooltip">
    <p><strong>Description:</strong> {{data.Description}}</p>
    <p><strong>Damage:</strong> {{data.Damage}}</p>
    <p><strong>Range:</strong> {{data.Range}}</p>
    <p><strong>EffectThreshold:</strong> {{data.EffectThreshold}}</p>
    <p><strong>Level:</strong> {{data.Level}}</p>
    <p><strong>TypeOfAbility:</strong> {{data.TypeOFAbility}}</p>
    <p><strong>Circle:</strong> {{data.Circle}}</p>
    <p><strong>LevelOfFatigue:</strong> {{data.LevelOfFatigue}}</p>
    <p><strong>Multiplier:</strong> {{data.Multiplier}}</p>
  </div>
  <button class="delete-spell" title="Удалить заклинание" type="button">
    <i class="fas fa-times"></i>
  </button>
</div>
