<div class="weapon-card item" data-item-id="{{_id}}" data-weapon-damage="{{data.Damage}}">
    <div class="weapon-info weapon-name">
        <p>
            <a class="item-edit" data-type="item">{{name}}</a>
        </p>
        <div class="form-group">
            <label for="isEquiped">Экипировано</label>
            <input type="checkbox" name="data.isEquiped" {{#if data.isEquiped}}checked{{/if}} class="is-equiped-checkbox" />
        </div>
        <div class="weapon-stats">
            <p><strong>Урон:</strong> {{data.Damage}}</p>
            <div class="attack-roll">
                <!-- Иконка кубика для броска -->
                <i class="fas fa-dice-d20 roll-attack" data-item-id="{{_id}}" title="Roll Attack"></i>
            </div>
        </div>
        <a class="item-delete">
            <i class="fas fa-trash"></i>
        </a>
    </div>
</div>
