<div class="weapon-card item" data-item-id="{{_id}}">
  <div class="weapon-info weapon-name os-eq-row">
    <a class="item-edit os-eq-thumb" data-type="item" title="{{name}}">
      <img class="os-eq-item-img" src="{{img}}" alt="{{name}}" draggable="true" />
    </a>

    <div class="os-eq-text">
      <div class="os-eq-title-row">
        <a class="item-edit os-eq-title" data-type="item">{{name}}</a>

        <div class="os-eq-roll" aria-label="Бросок атаки">
          {{#if (eq type "rangeweapon")}}
            <a class="fas fa-dice-d20 roll-ranged-attack" data-item-id="{{_id}}" title="Бросок атаки (дальний бой)"></a>
          {{else}}
            <a class="fas fa-dice-d20 roll-attack" data-item-id="{{_id}}" title="Бросок атаки"></a>
          {{/if}}
        </div>
      </div>
      
      {{#if (gt (length system.tags) 0)}}
        <div class="os-eq-tags">
          {{#each system.tags as |tag|}}
          <span class="order-tag-pill order-tag-pill--readonly"
              data-tooltip="{{#if (orderTagDescription tag)}}{{orderTagDescription tag}}{{else}}Нет описания{{/if}}"
              data-tooltip-direction="UP">
          {{orderTagLabel tag}}
          </span>
          {{/each}}
        </div>
      {{/if}}

      <div class="weapon-stats">
        <div class="weapon-stats-main">
          <div class="os-eq-details">
            <ul class="os-eq-list">
              {{#if (eq type "rangeweapon")}}
                  {{#if (shouldDisplayField system.displayFields "Damage")}}<li><strong>Урон:</strong> {{system.Damage}}</li>{{/if}}
                  {{#if (shouldDisplayField system.displayFields "Rateoffire")}}<li><strong>Скорострельность:</strong> {{system.Rateoffire}}</li>{{/if}}
                  {{#if (shouldDisplayField system.displayFields "Magazine")}}<li><strong>Магазин:</strong> {{system.Magazine}}</li>{{/if}}
                  {{#if (shouldDisplayField system.displayFields "Effectivefiringrange")}}<li><strong>Эффективная дальность:</strong> {{system.Effectivefiringrange}}</li>{{/if}}
                  {{#if (shouldDisplayField system.displayFields "Maximumfiringrange")}}<li><strong>Макс дальность:</strong> {{system.Maximumfiringrange}}</li>{{/if}}
                  {{#if (shouldDisplayField system.displayFields "Durability")}}<li><strong>Прочность:</strong> {{system.Durability}}</li>{{/if}}
                  {{#if (shouldDisplayField system.displayFields "EffectThreshold")}}<li><strong>Порог эффекта:</strong> {{system.EffectThreshold}}</li>{{/if}}
                  {{#if (shouldDisplayField system.displayFields "OnHitEffects")}}
                      <li><strong>Эффект при попадании:</strong>
                          {{#if system.OnHitEffects.length}}
                              {{#each system.OnHitEffects as |ef idx|}}
                                  {{ef}}{{#unless @last}}, {{/unless}}
                              {{/each}}
                          {{else}}
                              -
                          {{/if}}
                      </li>
                  {{/if}}
                <li class="os-eq-inline-check">
                  <strong>В руке:</strong>
                  <input type="checkbox" class="weapon-inhand-checkbox" {{#if system.inHand}}checked{{/if}} />
                </li>
              {{else}}
                  {{#if (shouldDisplayField system.displayFields "Damage")}}<li><strong>Урон:</strong> {{system.Damage}}</li>{{/if}}
                  {{#if (shouldDisplayField system.displayFields "Durability")}}<li><strong>Прочность:</strong> {{system.Durability}}</li>{{/if}}
                  {{#if (shouldDisplayField system.displayFields "EffectThreshold")}}<li><strong>Порог эффекта:</strong> {{system.EffectThreshold}}</li>{{/if}}
                  {{#if (shouldDisplayField system.displayFields "OnHitEffects")}}
                      <li><strong>Эффект при попадании:</strong>
                          {{#if system.OnHitEffects.length}}
                              {{#each system.OnHitEffects as |ef idx|}}
                                  {{ef}}{{#unless @last}}, {{/unless}}
                              {{/each}}
                          {{else}}
                              -
                          {{/if}}
                      </li>
                  {{/if}}
                <li class="os-eq-inline-check">
                  <strong>В руке:</strong>
                  <input type="checkbox" class="weapon-inhand-checkbox" {{#if system.inHand}}checked{{/if}} />
                </li>
              {{/if}}
            </ul>
          </div>
        </div>
      </div>
    </div>

    {{#if @root.osCanEdit}}
      <a class="item-delete" title="Удалить">
        <i class="fas fa-trash"></i>
      </a>
    {{/if}}
  </div>
</div>
