<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
      height="64"
      width="64"
    />
    <h1>
      <input
        name="name"
        type="text"
        value="{{item.name}}"
        placeholder="{{ localize 'Name' }}"
      />
    </h1>
  </header>
  <div class="sheet">
    <table>
      <tr>
        <th>{{localize "Order.Armor.Deffensepotential"}}</th>
        <th>{{localize "Order.Armor.Advantage"}}</th>
        <th>{{localize "Order.Armor.Disadvantages"}}</th>
        <th>{{localize "Order.Armor.Reqires"}}</th>
        <th>{{localize "Order.Armor.Modificationslots"}}</th>
      </tr>
      <tr>
        <td>
          <input
            name="data.Deffensepotential"
            type="text"
            value="{{system.Deffensepotential}}"
            data-type="Number"
          />
        </td>
        <td>
          <input
            name="data.Advantage"
            type="text"
            value="{{system.Advantage}}"
            data-type="Number"
          />
        </td>
        <td>
          <input
            name="data.Disadvantages"
            type="text"
            value="{{system.Disadvantages}}"
            data-type="Number"
          />
        </td>
        <td>
          <input
            name="data.Reqires"
            type="text"
            value="{{system.Reqires}}"
            data-type="Number"
          />
        </td>
        <td>
          <input
            name="data.Modificationslots"
            type="text"
            value="{{system.Modificationslots}}"
            data-type="Number"
          />
        </td>
      </tr>
    </table>
    <textarea name="data.description">{{system.description}}</textarea>
  </div>
</form>
