<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
    <h1>
      <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}" />
    </h1>
  </header>
  <div class="sheet">
    <table>
      <tr>
        <th>{{localize "Order.Armor.Deffensepotential"}}</th>
        <th>{{localize "Order.Armor.Advantage"}}</th>
        <th>{{localize "Order.Armor.Disadvantages"}}</th>
        <th>{{localize "Order.Armor.Reqires"}}</th>
        <th>{{localize "Order.Armor.Modificationslots"}}</th>
      </tr>
      <tr>
        <td><input name="data.Deffensepotential" type="text" value="{{data.Deffensepotential}}" data-type="Number" /></td>
        <td>
          <div class="advantage-field">
            <select name="data.AdvantageCharacteristic" class="advantage-select">
              {{#each characteristics as |Characteristic|}}
                <option value="{{Characteristic}}" {{#if (isSelected Characteristic ../data.AdvantageCharacteristic)}}selected{{/if}}>{{Characteristic}}</option>
              {{/each}}
            </select>
            <div class="advantage-modifier">
              <button type="button" class="advantage-modifier-minus">-</button>
              <input name="data.Advantage" type="text" value="{{data.Advantage}}" data-type="Number" readonly />
              <button type="button" class="advantage-modifier-plus">+</button>
            </div>
            <button type="button" class="advantage-add-characteristic">+</button>
          </div>
          <div class="additional-advantages">
            {{#each data.additionalAdvantages as |curAd| }}
              <div class="advantage-field">
                <div>
                  {{curAd.Characteristic}}
                </div>
                <div>
                  {{curAd.Value}}
                </div>
                <button type="button" class="advantage-remove-characteristic">❌</button>
              </div>
            {{/each}}
          </div>
        </td>
        <td><input name="data.Disadvantages" type="text" value="{{data.Disadvantages}}" data-type="Number" /></td>
        <td><input name="data.Reqires" type="text" value="{{data.Reqires}}" data-type="Number" /></td>
        <td><input name="data.Modificationslots" type="text" value="{{data.Modificationslots}}" data-type="Number" /></td>
      </tr>
    </table>
    <textarea name="data.description">{{data.description}}</textarea>
  </div>
</form>
