<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
    <h1>
      <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}" />
    </h1>
  </header>
  <div class="sheet">
    <div class="form-group">
      <label for="isEquiped">{{localize "Order.Armor.Equiped"}}</label>
      <input type="checkbox" name="data.isEquiped" {{#if data.isEquiped}}checked{{/if}} class="is-equiped-checkbox" />
    </div>
    <div class="form-group">
      <label for="isUsed">{{localize "Order.Armor.isUsed"}}</label>
      <input type="checkbox" name="data.isUsed" {{#if data.isUsed}}checked{{/if}} class="is-used-checkbox" />
    </div>
    <table>
      <tr>
        <th>{{localize "Order.Armor.Deffensepotential"}}</th>
        <th>{{localize "Order.Armor.Parameters"}}</th>
        <th>{{localize "Order.Armor.Requires"}}</th>
        <th>{{localize "Order.Armor.Modificationslots"}}</th>
      </tr>
      <tr>
        <td><input name="data.Deffensepotential" type="text" value="{{data.Deffensepotential}}" data-type="Number" />
        </td>
        <td>
          <div class="advantage-field">
            <div class="advantage-modifier">
                <button type="button" class="modify-advantage-button">Добавить параметр</button>
            </div>
          </div>
          <div class="additional-advantages">
            {{#each data.additionalAdvantages as |curAd index| }}
            <div class="advantage-char" data-index="{{index}}">
              {{curAd.Characteristic}}
              {{curAd.Value}}
              <a type="button" class="advantage-remove-characteristic">❌</a>
            </div>
            {{/each}}
          </div>
        </td>
        <td>
          <div class="requires-field">
              <div class="require-modifier">
                  <button type="button" class="modify-require-button">Добавить требования</button>
              </div>
          </div>
          <div class="requires-array">
            {{#each data.RequiresArray as |curRq index| }}
            <div class="requires-char" data-index="{{index}}">
              {{curRq.RequiresCharacteristic}} {{curRq.Requires}}
              <a type="button" class="requires-remove-characteristic">❌</a>
            </div>
            {{/each}}
          </div>
        </td>
        <td><input name="data.Modificationslots" type="text" value="{{data.Modificationslots}}" data-type="Number" />
        </td>
      </tr>
    </table>
    <textarea name="data.description">{{data.description}}</textarea>
  </div>
</form>