<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1>{{item.name}}</h1>
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
  </header>
  <div class="sheet">
    <p>Описание: <textarea name="data.description">{{data.description}}</textarea></p>
    <div class="drop-area skills-drop">
      Способности по выбору
    </div>
    {{#each this.data.Skills as |Skill|}}
    <div>
      <a class="skill-link" data-skill-id="{{Skill._id}}">
        {{Skill.name}}
      </a>
      <button type="button" class="delete-skill-button" data-id="{{Skill._id}}" data-array="Skills">
        🗑️ Удалить
      </button>
    </div>
    {{/each}}
    <div class="drop-area perks-drop">
      Базовые способности
    </div>
    {{#each this.data.basePerks as |Skill|}}
    <div>
      <a class="skill-link" data-skill-id="{{Skill._id}}">
        {{Skill.name}}
      </a>
      <button type="button" class="delete-skill-button" data-id="{{Skill._id}}" data-array="basePerks">
        🗑️ Удалить
      </button>
    </div>
    {{/each}}
    <div class="form-group">
      <label for="bonusHp">{{localize "Bonus HP per level"}}</label>
      <input type="number" name="data.bonusHp" value="{{data.bonusHp}}" />
    </div>
    <div class="form-group">
      <label for="startBonusHp">{{localize "Starting Bonus HP"}}</label>
      <input type="number" name="data.startBonusHp" value="{{data.startBonusHp}}" />
    </div>
    <div class="form-group">
      <label for="startBonusManaFatigue">{{localize "Starting Bonus ManaFatigue"}}</label>
      <input type="number" name="data.startBonusManaFatigue" value="{{data.startBonusManaFatigue}}" />
    </div>
    <td>
      <div class="advantage-field">
        <div class="advantage-modifier">
          <button type="button" class="modify-advantage-button">Добавить параметр</button>
        </div>
      </div>
      <div class="additional-advantages">
        {{#each data.additionalAdvantages as |curAd index| }}
        <div class="advantage-char" data-index="{{index}}">
          {{curAd.Characteristic}}
          {{curAd.Value}}
          <a type="button" class="advantage-remove-characteristic">❌</a>
        </div>
        {{/each}}
      </div>
    </td>
  </div>
</form>