<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1>{{item.name}}</h1>
  </header>
  <div class="sheet">
    <div class="form-group">
      <label for="skills">{{localize "Skills"}}</label>
      <select name="data.Skills" multiple>
        {{#each characteristics as |Characteristic|}}
        <option value="{{Characteristic}}">{{Characteristic}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label for="basePerks">
        {{localize "Base Perks"}}
        <button type="button" class="create-BaseSkill">Add Skill</button>
      </label>
    </div>
    {{#each this.data.basePerks as |Skill|}}
    {{> "systems/Order/templates/partials/skill-in-class-card.hbs" Skill}}
    {{/each}}
    <div class="form-group">
      <label for="bonusHp">{{localize "Bonus HP per level"}}</label>
      <input type="number" name="data.bonusHp" value="{{data.bonusHp}}" />
    </div>
    <div class="form-group">
      <label for="startBonusHp">{{localize "Starting Bonus HP"}}</label>
      <input type="number" name="data.startBonusHp" value="{{data.startBonusHp}}" />
    </div>
    <div class="advantage-field">
      <select name="data.AdvantageCharacteristic" class="advantage-select">
        {{#each characteristics as |Characteristic|}}
        <option value="{{Characteristic}}" {{#if (isSelected Characteristic
          ../data.AdvantageCharacteristic)}}selected{{/if}}>{{Characteristic}}</option>
        {{/each}}
      </select>
      <div class="advantage-modifier">
        <button type="button" class="advantage-modifier-minus">-</button>
        <input name="data.Parameters" type="text" value="{{data.Parameters}}" data-type="Number" readonly />
        <button type="button" class="advantage-modifier-plus">+</button>
      </div>
      <button type="button" class="advantage-add-characteristic">+</button>
    </div>
    <div class="additional-advantages">
      {{#each data.additionalAdvantages as |curAd index| }}
      <div class="advantage-char" data-index="{{index}}">
        {{curAd.Characteristic}}
        {{curAd.Value}}
        <button type="button" class="advantage-remove-characteristic">❌</button>
      </div>
      {{/each}}
    </div>
  </div>
</form>