<form class="{{cssClass}} weapon" autocomplete="off">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
    <h1>
      <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}" />
    </h1>
  </header>
  <div class="sheet">
    <table>
      <tr>
        <th>{{localize "Order.meleeweapon.Damage"}}</th>
        <th>{{localize "Order.meleeweapon.Typeofdamage"}}</th>
        <th>{{localize "Order.meleeweapon.Rangeofdamage"}}</th>
        <th>{{localize "Order.meleeweapon.Modificationslots"}}</th>
        <th>{{localize "Order.meleeweapon.Durability"}}</th>
        <th>Слоты снаряжения</th>
        <th>Параметры</th>
        <th>Требования</th>
        <th>Характеристики для атаки</th>
      </tr>
      <td>
        <input name="data.Damage" type="text" value="{{data.Damage}}" data-type="Number" />
      </td>
      <td>
        <input name="data.Typeofdamage" type="text" value="{{data.Typeofdamage}}" data-type="Number" />
      </td>
      <td>
        <input name="data.Rangeofdamage" type="text" value="{{data.Rangeofdamage}}" data-type="Number" />
      </td>
      <td>
        <input name="data.Modificationslots" type="text" value="{{data.Modificationslots}}" data-type="Number" />
      </td>
      <td>
        <input name="data.Durability" type="text" value="{{data.Durability}}" data-type="Number" />
      </td>
      <td>
        <div class="form-group">
          <select id="weapon-type" name="data.weaponType" class="weapon-type">
            <option value="main" {{#if (eq data.weaponType 'main' )}}selected{{/if}}>Основное</option>
            <option value="secondary" {{#if (eq data.weaponType 'secondary' )}}selected{{/if}}>Второстепенное</option>
            <option value="melee" {{#if (eq data.weaponType 'melee' )}}selected{{/if}}>Холодное</option>
            <option value="" {{#if (eq data.weaponType '' )}}selected{{/if}}>Нет</option>
          </select>
        </div>
      </td>
        <td>
            <div class="advantage-field">
                <div class="advantage-modifier">
                    <button type="button" class="modify-advantage-button">Добавить параметр</button>
                </div>
            </div>
            <div class="additional-advantages">
                {{#each data.additionalAdvantages as |curAd index| }}
                    <div class="advantage-char" data-index="{{index}}">
                        {{curAd.Characteristic}}
                        {{curAd.Value}}
                        <a type="button" class="advantage-remove-characteristic">❌</a>
                    </div>
                {{/each}}
            </div>
        </td>
        <td>
            <div class="requires-field">
                <div class="require-modifier">
                    <button type="button" class="modify-require-button">Добавить требования</button>
                </div>
            </div>
            <div class="requires-array">
                {{#each data.RequiresArray as |curRq index| }}
                    <div class="requires-char" data-index="{{index}}">
                        {{curRq.RequiresCharacteristic}} {{curRq.Requires}}
                        <a type="button" class="requires-remove-characteristic">❌</a>
                    </div>
                {{/each}}
            </div>
        </td>
        <td>
        <button class="open-attack-dialog">Настроить характеристики атаки</button>
<div class="attack-characteristics-array">
  {{#each data.AttackCharacteristics as |char index|}}
    <div class="attack-char" data-index="{{index}}">
      {{char}}
      <a type="button" class="remove-attack-characteristic">❌</a>
    </div>
  {{/each}}
</div>
</td>


    </table>
  </div>
</form>