<form class="{{cssClass}}" autocomplete="off">
  <div class="character-sheet">
    <div class="side-menu">
      <nav class="tabs_side-menu">
        <a class="navbar" data-tab="biography">Биография</a>
        <a class="navbar" data-tab="inventory">Инвентарь</a>
        <a class="navbar" data-tab="skills">Способности</a>
        <a class="navbar" data-tab="equipment">Снаряжение</a>
      </nav>
      <div class="tab-content">
        <div id="biography" class="tab-bar">
          {{> "systems/Order/templates/partials/biography.hbs"}}
        </div>
        <div id="inventory" class="tab-bar">
          {{> "systems/Order/templates/partials/inventory.hbs"}}
        </div>
        <div id="skills" class="tab-bar">
          {{> "systems/Order/templates/partials/skills.hbs"}}
        </div>
        <div id="equipment" class="tab-bar">
          {{> "systems/Order/templates/partials/equipment.hbs"}}
        </div>
      </div>
    </div>
    <div class="central-menu">
      <div class="stats">
        <div class="stat">Магическая Усталость: <input name="data.ManaFatigue.value" type="text"
            value="{{data.ManaFatigue.value}}" data-dtype="Number" /></div>
        <div class="stat">HP: <input name="data.Health.value" type="text" value="{{data.Health.value}}"
            data-dtype="Number" /></div>
        <div class="stat">Стресс: <input name="data.Stress.value" type="text" value="{{data.Stress.value}}"
            data-dtype="Number" /></div>
      </div>
      <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" id="char-img">
      <div class="effect-container">
        <div class="effect" data-effect="Fear">
          <span>Страх:</span>
          <button type="button" class="decrement">-</button>
          <span class="state-display">{{data.debuffs.Fear.state}}</span>
          <button type="button" class="increment">+</button>
        </div>
        <div class="effect" data-effect="Bleeding">
          <span>Кровотечение:</span>
          <button type="button" class="decrement">-</button>
          <span class="state-display">{{data.debuffs.Bleeding.state}}</span>
          <button type="button" class="increment">+</button>
        </div>
        <div class="effect" data-effect="Dizziness">
          <span>Ошеломление:</span>
          <button type="button" class="decrement">-</button>
          <span class="state-display">{{data.debuffs.Dizziness.state}}</span>
          <button type="button" class="increment">+</button>
        </div>
        <div class="effect" data-effect="MagicDebuff">
          <span>Магическая усталость:</span>
          <button type="button" class="decrement">-</button>
          <span class="state-display">{{data.debuffs.MagicDebuff.state}}</span>
          <button type="button" class="increment">+</button>
        </div>
        <div class="effect" data-effect="Poisoned">
          <span>Отравление:</span>
          <button type="button" class="decrement">-</button>
          <span class="state-display">{{data.debuffs.Poisoned.state}}</span>
          <button type="button" class="increment">+</button>
        </div>
        <div class="effect" data-effect="Stunned">
          <span>Оглушение:</span>
          <button type="button" class="decrement">-</button>
          <span class="state-display">{{data.debuffs.Stunned.state}}</span>
          <button type="button" class="increment">+</button>
        </div>
      </div>
    </div>
    <div class="stats-and-weapons">
      {{> "systems/Order/templates/partials/character-stat-block.hbs"}}
    </div>
  </div>
  <script src="systems/Order/scripts/debuff-script.js"></script>
</form>
