<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <h1>{{item.name}}</h1>
    </header>
    <div class="sheet">

        <p>Описание: {{item.system.description}}</p>

        <div class="drop-area skills-drop">
            Перетащите сюда предметы типа "Скилл" для массива Skills
        </div>
        {{#each this.data.Skills as |Skill|}}
        <div class="skill-card">
            <a class="skill-link" data-skill-id="{{Skill._id}}">
                {{Skill.name}}
            </a>
            <button type="button" class="delete-skill-button" data-id="{{Skill._id}}" data-array="Skills">
                🗑️ Удалить
            </button>
        </div>
        {{/each}}
    </div>
    <td>
        <div class="advantage-field">
            <div class="advantage-modifier">
                <button type="button" class="modify-advantage-button">Добавить параметр</button>
            </div>
        </div>
        <div class="additional-advantages">
            {{#each data.additionalAdvantages as |curAd index| }}
                <div class="advantage-char" data-index="{{index}}">
                    {{curAd.Characteristic}}
                    {{curAd.Value}}
                    <a type="button" class="advantage-remove-characteristic">❌</a>
                </div>
            {{/each}}
        </div>
    </td>
</form>