<form class="{{cssClass}} skill" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1>
            <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}" />
        </h1>
    </header>
    {{!-- <div class="form-group">
        <label for="isRacial">Рассовый скилл</label>
        <input type="checkbox" name="data.isRacial" {{#if data.isRacial}}checked{{/if}} class="is-racial-checkbox" />
    </div> --}}
    {{#unless data.isRacial}}
    <div class="skill-level">
  <canvas
    class="circle-progress-skill"
    data-circle="{{data.Circle}}"
    data-level="{{data.Level}}"
    data-filled="{{data.filledSegments}}"
  ></canvas>
</div>
    {{/unless}}
    <div class="sheet">
        <table class="fields-table">
        <tbody>
          <tr class="field-row" {{#if data.hiddenDefaults.Circle}}style="display:none"{{/if}}>
            <th class="field-label {{#if data.displayFields.Circle}}selected{{/if}}" data-field="Circle">Круг навыка</th>
            <td><input name="data.Circle" type="number" value="{{data.Circle}}" data-type="Number" /></td>
          </tr>
          <tr class="field-row" {{#if data.hiddenDefaults.Level}}style="display:none"{{/if}}>
            <th class="field-label {{#if data.displayFields.Level}}selected{{/if}}" data-field="Level">Уровень навыка</th>
            <td><input name="data.Level" type="number" value="{{data.Level}}" data-type="Number" /></td>
          </tr>
          <tr class="field-row" {{#if data.hiddenDefaults.AttackArea}}style="display:none"{{/if}}>
            <th class="field-label {{#if data.displayFields.AttackArea}}selected{{/if}}" data-field="AttackArea">Дальность/Радиус/Зона Атаки</th>
            <td><input name="data.AttackArea" type="text" value="{{data.AttackArea}}" data-type="String" /></td>
          </tr>
          <tr class="field-row" {{#if data.hiddenDefaults.Description}}style="display:none"{{/if}}>
            <th class="field-label {{#if data.displayFields.Description}}selected{{/if}}" data-field="Description">Описание</th>
            <td><input name="data.Description" type="text" value="{{data.Description}}" data-type="String" /></td>
          </tr>
          <tr class="field-row" {{#if data.hiddenDefaults.Effects}}style="display:none"{{/if}}>
            <th class="field-label {{#if data.displayFields.Effects}}selected{{/if}}" data-field="Effects">Эффекты</th>
            <td><input name="data.Effects" type="text" value="{{data.Effects}}" data-type="String" /></td>
          </tr>
          <tr class="field-row" {{#if data.hiddenDefaults.Damage}}style="display:none"{{/if}}>
            <th class="field-label {{#if data.displayFields.Damage}}selected{{/if}}" data-field="Damage">Урон</th>
            <td><input name="data.Damage" type="text" value="{{data.Damage}}" data-type="Number" /></td>
          </tr>
          <tr class="field-row" {{#if data.hiddenDefaults.Multiplier}}style="display:none"{{/if}}>
            <th class="field-label {{#if data.displayFields.Multiplier}}selected{{/if}}" data-field="Multiplier">Множитель</th>
            <td><input name="data.Multiplier" type="text" value="{{data.Multiplier}}" data-type="Number" /></td>
          </tr>
          <tr class="field-row" {{#if data.hiddenDefaults.UsageCost}}style="display:none"{{/if}}>
            <th class="field-label {{#if data.displayFields.UsageCost}}selected{{/if}}" data-field="UsageCost">Стоимость применения</th>
            <td><input name="data.UsageCost" type="text" value="{{data.UsageCost}}" data-type="String" /></td>
          </tr>
          <tr class="field-row" {{#if data.hiddenDefaults.Cooldown}}style="display:none"{{/if}}>
            <th class="field-label {{#if data.displayFields.Cooldown}}selected{{/if}}" data-field="Cooldown">Время перезарядки</th>
            <td><input name="data.Cooldown" type="text" value="{{data.Cooldown}}" data-type="Number" /></td>
          </tr>

          {{#each data.additionalFields as |field index|}}
            {{#unless field.hidden}}
            <tr class="field-row" data-index="{{index}}">
              <th class="field-label {{#if field.show}}selected{{/if}}" data-type="additional" data-index="{{index}}">{{field.name}}</th>
              <td><input class="additional-field-input" data-index="{{index}}" type="text" value="{{field.value}}" /></td>
            </tr>
            {{/unless}}
          {{/each}}
        </tbody>
      </table>
      <button type="button" class="add-field">Добавить поле</button>
      <button type="button" class="select-characteristics">Выбрать характеристики</button>
      <div class="selected-characteristics">
        {{#each data.Characteristics}}
          <span class="char-label">{{this}}</span>
        {{/each}}
      </div>
    </div>
</form>
