<form class="{{cssClass}} skill" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1>
            <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}" />
        </h1>
    </header>
    {{!-- <div class="form-group">
        <label for="isRacial">Рассовый скилл</label>
        <input type="checkbox" name="data.isRacial" {{#if data.isRacial}}checked{{/if}} class="is-racial-checkbox" />
    </div> --}}
    {{#unless data.isRacial}}
    <div class="skill-level">
  <canvas
    class="circle-progress-skill"
    data-circle="{{data.Circle}}"
    data-level="{{data.Level}}"
    data-filled="{{data.filledSegments}}"
  ></canvas>
</div>
    {{/unless}}
    <div class="sheet">
        <table>
            <tr>
                <th>Урон</th>
                <th>Дистанция</th>
                <th>Порог срабатывания</th>
                <th>Уровень способности</th>
                <th>Тип способности</th>
                <th>Описание</th>
                <th>Длительность восстановления</th>
            </tr>
            <td>
                <input name="data.Damage" type="text" value="{{data.Damage}}" data-type="Number" />
            </td>
            <td>
                <input name="data.Range" type="text" value="{{data.Range}}" data-type="Number" />
            </td>
            <td>
                <input name="data.EffectThreshold" type="text" value="{{data.EffectThreshold}}" data-type="Number" />
            </td>
            <td>
                <input name="data.Level" type="text" value="{{data.Level}}" data-type="Number" />
            </td>
            <td>
                <input name="data.TypeOFAbility" type="text" value="{{data.TypeOFAbility}}" data-type="String" />
            </td>
             <td>
                <input name="data.Description" type="text" value="{{data.Description}}" data-type="String" />
            </td>
             <td>
                <input name="data.Cooldown" type="text" value="{{data.Cooldown}}" data-type="Number" />
            </td>
        </table>
    </div>
</form>
